<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SGS - Course Info</title>
    <link rel="stylesheet" href="/bootstrap-4.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/course info.css">
    <link rel="stylesheet" href="/fixed.css">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">

    <!--- Start Home Section -->
    <div id="fixed"></div>
    <div id="announcements">

        <!--- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <!--	<a class="navbar-brand" href="#"><img src="img/SGS1.png"></a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <!--md, mx, ml-->
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/announcements">Announcements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/courses">Courses</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href=""><img src="img/SGS1.png"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/postTicket">HT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--- End Navigation-->
        <h6 id="Hi" style="display: none;"><%= User[0] %></h6>
        <h6 id="Byeeeee" style="display: none;"><%= User[1] %></h6>
        <!--- Start Landing Page Section -->
        <div class="caption text-center">
            <a href="#"><img src="img/SGS1.png"></a>
            <h1>
                <%= course.Prefix %>
            </h1>
            <h3>
                <%= course.Course_Name %>
            </h3>
            <label>University:</label>
            <label>Cairo University</label>
            <br>
            <label>Faculty:</label>
            <label>
                <%= course.C_name %>
            </label>
            <br>
            <button id="Following"><% if (!follow) { %> Follow <% } else { %> Unfollow <% } %></button>
            <br>
            <label>Credits:</label>
            <label>
                <%= course.credits %>
            </label>
            <br>
            <label>Programs:</label>
            <label>CCE</label>
            <br>
            <label>Availability Semester:</label>
            <% if( Semester.length> 0) { %>
                <label>
                    <% for(let i=0 ;i < Semester.length-1 ; i++) { %>
                        <%= Semester[i].SemesterName %>,
                            <% }; %>
                                <%= Semester[Semester.length-1].SemesterName %>
                </label> <!-- Print More data. Organize. Use server Power in Script. Encode URL  -->
                <% } else { %>
                    <lable style="color: red;"> No Info </lable>
                    <% } %>
                        <br>
                        <p>
                            <%= course.ArticleText %>
                        </p>
                        <% if(InstructorName.length> 0 ){ %>.
                            <table class="table table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Contact</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if( InstructorName.length> 0) { %>
                                        <% for(let i=0 ;i < InstructorName.length ; i++) { %>
                                            <tr>
                                                <th scope="row">
                                                    <%= i+1 %>
                                                </th>
                                                <td>
                                                    <%= InstructorName[i].F_Name %>
                                                </td>
                                                <td>
                                                    <%= InstructorName[i].L_Name %>
                                                </td>
                                                <td>
                                                    <%= contactObj %>
                                                </td>
                                            </tr>
                                            <% }; %>
                                                <% } else { %>
                                                    <lable> No Info </lable>
                                                    <% } %>
                                </tbody>
                            </table>
                            <% }; %>
                                <table class="table table-hover table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Lecture</th>
                                            <th scope="col">Material</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let i=0 ;i < LearningMaterial.length ; i++) { %>
                                            <tr>
                                                <th scope="row">
                                                    <%= i %>
                                                </th>
                                                <td>
                                                    <%= LearningMaterial[i].E_Name %>
                                                </td>
                                                <td><a href="<%= LearningMaterial[i].E_Reference %>">
                                                        <%= LearningMaterial[i].E_Reference %>
                                                    </a></td>
                                            </tr>
                                            <% }; %>
                                    </tbody>
                                </table>
        </div>

        <!--- End Landing Page Section-->
    </div>
    <!--- End Home Section -->



    <!--- Script Source Files -->
    <script src="/jquery-3.3.1.min.js"></script>
    <script src="bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/Follow.js"> </script>
    <!--- End of Script Source Files -->

</body>

</html>