<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SGS - Add Ticket</title>
    <link rel="stylesheet" href="bootstrap-4.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="Student_AddTicket.css">
    <link rel="stylesheet" href="fixed.css">

    <script>
        function validate() {
            if (document.getElementById("error").style.display != "none") {
                document.getElementsByTagName("form")[0].setAttribute("novalidate", "novalidate");
                document.getElementById("Title").focus();
                return false;
            }
            else if (document.getElementById("error1").style.display != "none") {
                if (document.getElementById("Course").options[document.getElementById("Course").selectedIndex].value == "") {
                    if (document.getElementsByTagName("form")[0].attributes['novalidate']) {
                        document.getElementsByTagName("form")[0].attributes.removeNamedItem("novalidate");
                    }
                    document.getElementsByTagName("form")[0].reportValidity();
                    return false;
                }
                document.getElementsByTagName("form")[0].setAttribute("novalidate", "novalidate");
                document.getElementById("text").focus();
                return false;
            }
            if (document.getElementsByTagName("form")[0].checkValidity()) {
                document.getElementsByTagName("form")[0].submit();
            }
            else {
                document.getElementsByTagName("form")[0].reportValidity()
            }
            return true;
        }
    </script>

</head>

<body data-spy="scroll" data-target="#navbarResponsive">

    <!--- Start Home Section -->
    <div id="fixed"></div>
    <div id="add-ticket">

        <!--- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <!--	<a class="navbar-brand" href="#"><img src="img/SGS1.png"></a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <!--md, mx, ml-->
                    <li class="nav-item">
                        <a class="nav-link" href="">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Announcements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Courses</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href=""><img src="img/SGS1.png"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">HT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Contacts</a>
                    </li>
                </ul>
            </div>
        </nav>
  <form action="/postTicket" method="POST" novalidate onsubmit="event.preventDefault(); validate();">
  <div class="caption text-center">

  <div class="form-group rounded-top-20 rounded-bottom-20 " style="height: fit-content;">
    <h2> Create a new ticket</h2>
    <% if (previous) { %>
        <h5 style="text-align: center; color: red;">
            <%= previous.Failure %>
        </h5>
    <% } %>

    <label> Title</label>
    <textarea required maxlength="100" placeholder="Ticket Title" id="Title" name="Title" 
    class="form-control" id="comment" rows="1"><% if(previous) {%> value="<%= previous.Title %>" <%}%></textarea>
    <br>
    <div id="error" class="ml-3" style="display: none;">
                                    <h6 style="color: red;">You can't input an article of all empty spaces</h6>
                                </div>
    <br>
    <label> Course</label>
    <select class="form-control" id="Course" required>
      <option value="" selected disabled hidden>Select Course</option>
      <% courses.forEach(function(val) { %>
        <option <% if (previous && previous.Course==val.CourseID) { %> selected <% } %>
                value="<%= val.CourseID %>"><%= val.Course_Name %>
        </option>
        <% }); %>
    </select>

    <br>
    <textarea required placeholder="Ticket Description" class="form-control" id="text" name="complaint" rows="8">
        <%if(previous){%><%=previous.RequestText%><%}%></textarea>
        <div id="error1" class="ml-3" style="display: none;">
            <h6 style="color: red;">You can't input an article of all empty spaces</h6>
        </div>

    <button class="btn btn-light mb-3">Submit Ticket</button>

  </div>
  </div>
</form>

        <!--- End Landing Page Section-->

    </div>
    <!--- End Home Section -->

    <!--- Script Source Files -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>

    <script>
        let title = document.getElementById("Title");
        let area = document.getElementById("text");
        window.onload = function (ev) {
            title.addEventListener("input", function () {
                if (!this.value.replace(/\s/g, '').length) {
                    document.getElementById("error").style.display = "inline-block";
                }
                else {
                    document.getElementById("error").style.display = "none";
                }
            });

            area.addEventListener("input", function () {
                if (!this.value.replace(/\s/g, '').length) {
                    document.getElementById("error1").style.display = "inline-block";
                }
                else {
                    document.getElementById("error1").style.display = "none";
                }
            });

        }
    </script>

    <!--- End of Script Source Files -->

</body>

</html>
